.AnalysesFilters {
  display: flex;
  flex-direction: column;
  gap: $spacing-m;
  padding: $spacing-s;

  &__Controls {
    display: flex;
    align-items: center;
    gap: $spacing-s;
  }

  &__Control {
    flex: 1;
    min-width: 0;
  }

  &__SortOrder {
    flex: none;
    color: $color-text-light-muted !important;

    &:hover {
      color: $color-text-light !important;
    }
  }

  &__Chip {
    border-radius: $border-radius-s !important;
    background-color: rgba(255, 255, 255, 0.16) !important;
    color: $color-text-light !important;

    .MuiChip-label {
      color: inherit !important;
    }

    .MuiChip-deleteIcon {
      color: $color-text-light-muted !important;

      &:hover {
        color: $color-text-light !important;
      }
    }
  }

  &__ChipContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: $spacing-xs;
    overflow: auto;
    scrollbar-width: none;
  }

  &__MenuItem {
    padding: 0 !important;
  }
}
