.DrawingControls {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: $color-bg-light;
  padding: $spacing-xs;
  border-radius: $border-radius-l;
  box-shadow: $box-shadow;

  &__Button {
    border-radius: $border-radius-m !important;
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $color-text-secondary;
    transition: all $transition-fast;

    &--active {
      color: $color-selected;
      background-color: $color-control-selected;
    }

    &:hover {
      background-color: $color-text-light-muted-hover;
    }

    &:active {
      background-color: $color-text-light-muted;
    }
  }
}
