.DrawingControls {
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
  background-color: $color-bg-light;
  padding: $spacing-xs;
  border-radius: $border-radius-l;
  box-shadow: $box-shadow;

  &__Button {
    border-radius: 0 !important;
    min-width: $icon-size;
    min-height: $icon-size;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $color-text-secondary;
    transition: all $transition-fast;

    &:hover {
      background-color: $color-text-light-muted-hover;
      transform: scale(1.05);
    }

    &:active {
      background-color: $color-text-light-muted;
      transform: scale(0.95);
    }
  }
}
