.MapContent {
  position: relative;
  height: 100%;
  width: 100%;

  &__RightControls {
    position: absolute;
    bottom: $spacing-l;
    right: $spacing-l;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: $spacing-s;
    align-items: flex-end;
  }

  &__RightTopControls {
    position: absolute;
    top: $spacing-l;
    right: $spacing-l;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: $spacing-s;
    align-items: flex-end;
  }
}
