.PasswordStrengthIndicator {
  padding-left: $spacing-s;

  &__Item {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    padding: $spacing-xs 0;
  }

  &__Icon {
    font-size: 18px !important;
  }

  &__Text {
    font-size: $font-size-s;
  }
}
